@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-gradient-stops: red;
}
body {
  background: whitesmoke;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
ul.nav {
  display: flex;
 
}
li {
  margin: 5px;
  padding-bottom: 3px ;
  color:rgb(169, 196, 196);
}
ul {

 
}
.heading {
  
    text-shadow: 0 5px 5px black;
    
}