@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --tw-gradient-stops: red;

}
html {
  font-family: "Raleway", sans-serif;
}
main {
  font-family: 'Raleway';
}

body {
  background: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';

}

ul.nav {
  display: flex;

}

li {
  margin: 5px;
  padding-bottom: 3px;
 
}

#link {
 
}
#webreport {
  color: rgb(206, 115, 4);
}
