@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --tw-gradient-stops: red;

}
html {

}
main {

}

body {

 // background: rgb(255, 255, 255);

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';

}

ul.nav {
  display: flex;

}

li {
  margin: 5px;
  padding-bottom: 3px;
 
}

#link {
 
}

