@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
}

body {
}

nav {

  justify-content: center;
  align-items: center;
  font-family: 'Raleway';

}

ul.nav {
  display: flex;

}

li {
  margin: 5px;
  padding-bottom: 0px;
 transition: all 0.2s;
}

li:hover {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  transition: all 0.1s;
}
a.drop{
  text-shadow:none;
}
span.drop{
  text-shadow:none;
}

@keyframes slide-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}